<div class="snap-start flex flex-col gap-4 p-4 bg-card-svg rounded-md shadow-gray-500 shadow-sm bg-cover bg-center">
    <ng-container *ngIf="recipe.image && recipe.image.startsWith('https://')">
        <img class="border border-white" [src]="recipe.image" alt="">
    </ng-container>
    <ng-container *ngIf="!recipe.image || !recipe.image.startsWith('https://')">
        <img class="border border-white" src="assets/images/empty_plate.jpg" alt="Empty Dish">
    </ng-container>
    <div class="flex items-center justify-between gap-4 ">
        <h1 class="w-[65%]">
            {{recipe.title}}
        </h1>{{recipe.isFavorite}}
        <i-feather *ngIf="type === 'featured'" class="w-full" name="heart"
  [ngClass]="{'fill-[red!important]': isFavorite}"
  (click)="isFavorite ? removeFromFavorites(recipe) : addToFavorites(recipe)"></i-feather>

    </div>
  
  
</div>