<div>
    <div class="p-4">
        <h2 class="text-text-charcoal-gray font-bold text-2xl">Hi there!</h2>
        <p class="text-text-charcoal-gray text-md font-semibold">Find the perfect recipe for your meal!</p>
    </div>
    <app-search></app-search>
    <app-dish-types [dishTypes]="dishTypes"></app-dish-types>
    <app-random-recipe></app-random-recipe>
    <app-random-meal-type [meals]="meals" [isLoading]="isLoading" [tag]="tag"></app-random-meal-type>

    <!-- <app-favorites></app-favorites> -->
</div>
